@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
body {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
  padding: 0;
}

.text-slanted {
  font-family: "Courgette", cursive;
}

.text-orange {
  color: #f15025;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}
.header-hero {
  min-height: calc(100vh - 56px);
  /*background: url("./images/home-images.jpg") center/cover no-repeat;*/
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/home-images.jpg") center/cover no-repeat;
}
.default-hero {
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/404-images.jpg") center/cover no-repeat;
}
/*error*/
.error {
  width: 400px;
  height: 200px;
  padding: 20px;
  margin-bottom: 20vh;
  margin-left: 700px;
  text-align: center;
  justify-content: center;
}
